In [1]:
import numpy as np
import pandas as pd
import re

In [2]:
pd.set_option('display.max_colwidth' , False)
pd.set_option('display.max_rows' , False)
pd.set_option('display.max_columns' , False)

In [3]:
df = pd.read_csv('gurgaon_properties_cleaned_v1.csv')

In [4]:
df.head()

  property_type  ...                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             features
0  flat          ...  ['Lift(s)', 'Park']
1  flat          ...  ['Power Back-up', 'Intercom Facility', 'Lift(s)', 'Swimming Pool', 'Park', 'Piped-gas', 'Internet/wi-fi connectivity', 'Fitness Centre / GYM', 'Club house / Community Center']
2  flat          ...  ['Intercom Facility', 'Lift(s)', 'Park']
3  flat          ...  ['Feng Shui / Vaastu Compliant', 'Security / Fire Alarm', 'Intercom Facility', 'Lift(s)', 'Maintenance Staff', 'Water Storage', 'Park', 'Visitor Parking']
4  flat          ...  ['Centrally Air Conditioned', 'Water purifier', 'Security / Fire Alarm', 'Feng Shui / Vaastu Compliant', 'Private Garden / Terrace', 'Intercom Facility', 'Lift(s)', 'High Ceiling Height', 'Maintenance Staff', 'False Ceiling Lighting', 'Water Storage', 'Separate entry for servant room', 'No open drainage around', 'Bank Attached Property', 'Piped-gas', 'Internet/wi-fi connectivity', 'Recently Renovated', 'Visitor Parking', 'Swimming Pool', 'Park', 'Security Personnel', 'Natural Light', 'Airy Rooms', 'Spacious Interiors', 'Low Density Society', 'Waste Disposal', 'Rain Water Harvesting', 'Water softening plant', 'Shopping Centre', 'Fitness Centre / GYM', 'Club house / Community Center']

[5 rows x 17 columns]

# areaWithType

In [5]:
df[['price' , 'area' , 'areaWithType']]

      price  ...                                                                                                            areaWithType
0     0.82   ...  Super Built up area 1081(100.43 sq.m.)Carpet area: 650 sq.ft. (60.39 sq.m.)
1     0.95   ...  Carpet area: 1103 (102.47 sq.m.)
2     0.46   ...  Carpet area: 58141 (5401.48 sq.m.)
3     0.32   ...  Built Up area: 1000 (92.9 sq.m.)Carpet area: 585 sq.ft. (54.35 sq.m.)
4     1.60   ...  Super Built up area 1995(185.34 sq.m.)Built Up area: 1615 sq.ft. (150.04 sq.m.)Carpet area: 1476 sq.ft. (137.12 sq.m.)
5     0.48   ...  Super Built up area 632(58.71 sq.m.)Carpet area: 532 sq.ft. (49.42 sq.m.)
6     7.50   ...  Super Built up area 5350(497.03 sq.m.)
7     2.00   ...  Super Built up area 2338(217.21 sq.m.)
8     1.90   ...  Super Built up area 1889(175.49 sq.m.)
9     1.20   ...  Plot area 1185.51(110.14 sq.m.)
10    4.50   ...  Plot area 150(125.42 sq.m.)
11    1.55   ...  Built Up area: 2360 (219.25 sq.m.)
...    ...   ...                                 ...
3791  6.44   ...  Plot area 270(225.75 sq.m.)
3792  1.25   ...  Carpet area: 1741 (161.74 sq.m.)
3793  0.27   ...  Carpet area: 576 (53.51 sq.m.)
3794  8.00   ...  Plot area 338(282.61 sq.m.)
3795  0.87   ...  Super Built up area 1457(135.36 sq.m.)Carpet area: 849 sq.ft. (78.87 sq.m.)
3796  0.92   ...  Super Built up area 1385(128.67 sq.m.)Built Up area: 940 sq.ft. (87.33 sq.m.)Carpet area: 845 sq.ft. (78.5 sq.m.)
3797  0.75   ...  Built Up area: 480 (44.59 sq.m.)
3798  0.37   ...  Super Built up area 583(54.16 sq.m.)Carpet area: 483 sq.ft. (44.87 sq.m.)
3799  6.00   ...  Plot area 692(578.6 sq.m.)
3800  0.60   ...  Super Built up area 735(68.28 sq.m.)
3801  15.50  ...  Plot area 610(510.04 sq.m.)
3802  1.78   ...  Super Built up area 1950(181.16 sq.m.)Built Up area: 1845 sq.ft. (171.41 sq.m.)Carpet area: 1530 sq.ft. (142.14 sq.m.)

[3803 rows x 3 columns]

In [6]:
# This function extracts the Super Built up area
def get_super_built_up_area(text):
    match = re.search(r'Super Built up area (\d+\.?\d*)', text)
    if match:
        return float(match.group(1))
    return None

In [7]:
# This function extracts the Built Up area or Carpet area
def get_area(text, area_type):
    match = re.search(area_type + r'\s*:\s*(\d+\.?\d*)', text)
    if match:
        return float(match.group(1))
    return None

In [8]:
# This function checks if the area is provided in sq.m. and converts it to sqft if needed
def convert_to_sqft(text, area_value):
    if area_value is None:
        return None
    match = re.search(r'{} \((\d+\.?\d*) sq.m.\)'.format(area_value), text)
    if match:
        sq_m_value = float(match.group(1))
        return sq_m_value * 10.7639  # conversion factor from sq.m. to sqft
    return area_value

In [9]:
df['super_built_up_area'] = df['areaWithType'].apply(get_super_built_up_area)
df['super_built_up_area'] = df.apply(lambda x: convert_to_sqft(x['areaWithType'], x['super_built_up_area']), axis=1)

In [10]:
df['built_up_area'] = df['areaWithType'].apply(lambda x: get_area(x, 'Built Up area'))
df['built_up_area'] = df.apply(lambda x: convert_to_sqft(x['areaWithType'], x['built_up_area']), axis=1)

In [11]:
df['carpet_area'] = df['areaWithType'].apply(lambda x: get_area(x, 'Carpet area'))
df['carpet_area'] = df.apply(lambda x: convert_to_sqft(x['areaWithType'], x['carpet_area']), axis=1)

In [12]:
df.head()

  property_type                      society      sector  ...  super_built_up_area  built_up_area  carpet_area
0  flat          signature global park 4      sector 36   ...  1081.0              NaN             650.0
1  flat          smart world gems             sector 89   ... NaN                  NaN             1103.0
2  flat          pyramid elite                sector 86   ... NaN                  NaN             58141.0
3  flat          breez global hill view       sohna road  ... NaN                   1000.0         585.0
4  flat          bestech park view sanskruti  sector 92   ...  1995.0               1615.0         1476.0

[5 rows x 20 columns]

In [13]:
df[['price','property_type','area','areaWithType','super_built_up_area','built_up_area','carpet_area']].sample(5)

      price property_type    area  ... super_built_up_area  built_up_area  carpet_area
3022  1.04   flat          1825.0  ...  1755.0              1500.0         1100.0
1775  0.85   flat          1103.0  ... NaN                 NaN             1103.0
185   1.65   flat          1950.0  ...  1950.0             NaN             1161.0
2206  0.85   flat          1530.0  ...  1350.0             NaN            NaN
1221  1.90   flat          1381.0  ...  1381.0             NaN            NaN

[5 rows x 7 columns]

In [14]:
df.duplicated().sum()

122

In [15]:
df[~((df['super_built_up_area'].isnull()) | (df['built_up_area'].isnull()) | (df['carpet_area'].isnull()))][['price','property_type','area','areaWithType','super_built_up_area','built_up_area','carpet_area']].shape

(534, 7)

In [16]:
df[df['areaWithType'].str.contains('Plot')][['price','property_type','area','areaWithType','super_built_up_area','built_up_area','carpet_area']].head(5)

    price property_type    area  ... super_built_up_area  built_up_area  carpet_area
9   1.2    house         1186.0  ... NaN                 NaN            NaN
10  4.5    house         1350.0  ... NaN                 NaN            NaN
15  1.2    house         846.0   ... NaN                  846.0         NaN
19  5.5    house         1440.0  ... NaN                 NaN            NaN
25  9.0    house         3240.0  ... NaN                 NaN            NaN

[5 rows x 7 columns]

In [17]:
df.isnull().sum()

property_type          0
society                1
sector                 0
price                  18
price_per_sqft         18
area                   18
areaWithType           0
bedRoom                0
bathroom               0
balcony                0
additionalRoom         0
floorNum               19
facing                 1105
agePossession          1
nearbyLocations        177
furnishDetails         981
features               635
super_built_up_area    1888
built_up_area          2616
carpet_area            1859
dtype: int64

In [18]:
all_nan_df = df[((df['super_built_up_area'].isnull()) & (df['built_up_area'].isnull()) & (df['carpet_area'].isnull()))][['price','property_type','area','areaWithType','super_built_up_area','built_up_area','carpet_area']]

In [19]:
all_nan_df.head()

    price property_type    area                     areaWithType  super_built_up_area  built_up_area  carpet_area
9   1.2    house         1186.0  Plot area 1185.51(110.14 sq.m.) NaN                  NaN            NaN
10  4.5    house         1350.0  Plot area 150(125.42 sq.m.)     NaN                  NaN            NaN
19  5.5    house         1440.0  Plot area 160(133.78 sq.m.)     NaN                  NaN            NaN
25  9.0    house         3240.0  Plot area 360(301.01 sq.m.)     NaN                  NaN            NaN
26  7.0    house         2475.0  Plot area 275(229.94 sq.m.)     NaN                  NaN            NaN

In [20]:
all_nan_index = df[((df['super_built_up_area'].isnull()) & (df['built_up_area'].isnull()) & (df['carpet_area'].isnull()))][['price','property_type','area','areaWithType','super_built_up_area','built_up_area','carpet_area']].index

In [21]:
# Function to extract plot area from 'areaWithType' column
def extract_plot_area(area_with_type):
    match = re.search(r'Plot area (\d+\.?\d*)', area_with_type)
    return float(match.group(1)) if match else None

In [22]:
all_nan_df['built_up_area'] = all_nan_df['areaWithType'].apply(extract_plot_area)

# Update the original dataframe
#gurgaon_properties.update(filtered_rows)

In [23]:
all_nan_df.head()

    price property_type    area                     areaWithType  super_built_up_area  built_up_area  carpet_area
9   1.2    house         1186.0  Plot area 1185.51(110.14 sq.m.) NaN                   1185.51       NaN
10  4.5    house         1350.0  Plot area 150(125.42 sq.m.)     NaN                   150.00        NaN
19  5.5    house         1440.0  Plot area 160(133.78 sq.m.)     NaN                   160.00        NaN
25  9.0    house         3240.0  Plot area 360(301.01 sq.m.)     NaN                   360.00        NaN
26  7.0    house         2475.0  Plot area 275(229.94 sq.m.)     NaN                   275.00        NaN

In [24]:
def convert_scale(row):
    if np.isnan(row['area']) or np.isnan(row['built_up_area']):
        return row['built_up_area']
    else:
        if round(row['area']/row['built_up_area']) == 9.0:
            return row['built_up_area'] * 9
        elif round(row['area']/row['built_up_area']) == 11.0:
            return row['built_up_area'] * 10.7
        else:
            return row['built_up_area']

In [25]:
all_nan_df['built_up_area'] = all_nan_df.apply(convert_scale , axis = 1)

In [26]:
all_nan_df.head(5)

    price property_type    area                     areaWithType  super_built_up_area  built_up_area  carpet_area
9   1.2    house         1186.0  Plot area 1185.51(110.14 sq.m.) NaN                   1185.51       NaN
10  4.5    house         1350.0  Plot area 150(125.42 sq.m.)     NaN                   1350.00       NaN
19  5.5    house         1440.0  Plot area 160(133.78 sq.m.)     NaN                   1440.00       NaN
25  9.0    house         3240.0  Plot area 360(301.01 sq.m.)     NaN                   3240.00       NaN
26  7.0    house         2475.0  Plot area 275(229.94 sq.m.)     NaN                   2475.00       NaN

In [27]:
df.update(all_nan_df)

In [28]:
df.isnull().sum()

property_type          0
society                1
sector                 0
price                  18
price_per_sqft         18
area                   18
areaWithType           0
bedRoom                0
bathroom               0
balcony                0
additionalRoom         0
floorNum               19
facing                 1105
agePossession          1
nearbyLocations        177
furnishDetails         981
features               635
super_built_up_area    1888
built_up_area          2070
carpet_area            1859
dtype: int64

# additionalRoom

In [29]:
df['additionalRoom'].value_countss()

AttributeError: 'Series' object has no attribute 'value_countss'

In [ ]:
# additional room
# List of new columns to be created

new_cols = ['study room', 'servant room', 'store room', 'pooja room', 'others']

for col in new_cols:
    df[col] = df['additionalRoom'].str.contains(col).astype(int)

In [ ]:
df.sample(5)

# agePossession

In [30]:
df['agePossession'].value_counts()

1 to 5 Year Old       1676
5 to 10 Year Old      575
0 to 1 Year Old       530
undefined             332
10+ Year Old          310
Under Construction    90
Within 6 months       70
Within 3 months       26
Dec 2023              22
By 2023               19
By 2024               17
Dec 2024              16
Mar 2024              14
Oct 2024              8
Jan 2024              8
                     ..
Jun 2027              2
Jul 2027              2
Mar 2025              2
Oct 2025              2
Apr 2026              2
Aug 2025              2
Jun 2025              1
Jul 2026              1
Apr 2024              1
Jan 2027              1
Nov 2025              1
Mar 2026              1
Jan 2028              1
Aug 2026              1
Sep 2027              1
Name: agePossession, Length: 48, dtype: int64

In [31]:
def categorize_age_possession(value):
    if pd.isna(value):
        return "Undefined"
    if "0 to 1 Year Old" in value or "Within 6 months" in value or "Within 3 months" in value:
        return "New Property"
    if "1 to 5 Year Old" in value:
        return "Relatively New"
    if "5 to 10 Year Old" in value:
        return "Moderately Old"
    if "10+ Year Old" in value:
        return "Old Property"
    if "Under Construction" in value or "By" in value:
        return "Under Construction"
    try:
        # For entries like 'May 2024'
        int(value.split(" ")[-1])
        return "Under Construction"
    except:
        return "Undefined"

In [33]:
df['agePossession'] = df['agePossession'].apply(categorize_age_possession)

In [34]:
df['agePossession'].value_counts()

Relatively New        1676
New Property          626
Moderately Old        575
Undefined             333
Old Property          310
Under Construction    283
Name: agePossession, dtype: int64

In [35]:
df.head()

  property_type                      society      sector  ...  super_built_up_area  built_up_area  carpet_area
0  flat          signature global park 4      sector 36   ...  1081.0              NaN             650.0
1  flat          smart world gems             sector 89   ... NaN                  NaN             1103.0
2  flat          pyramid elite                sector 86   ... NaN                  NaN             58141.0
3  flat          breez global hill view       sohna road  ... NaN                   1000.0         585.0
4  flat          bestech park view sanskruti  sector 92   ...  1995.0               1615.0         1476.0

[5 rows x 20 columns]

# furnishDetails

In [36]:
df.sample(5)[['furnishDetails' , 'features']]

                                                                                                                                                                                                                                                            furnishDetails                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       features
3079  ['3 Wardrobe', '1 Exhaust Fan', '1 Modular Kitchen', 'No AC', 'No Bed', 'No Chimney', 'No Curtains', 'No Dining Table', 'No Fan', 'No Geyser', 'No Light', 'No Microwave', 'No Fridge', 'No Sofa', 'No Stove', 'No TV', 'No Washing Machine', 'No Water Purifier']    ['Power Back-up', 'Feng Shui / Vaastu Compliant', 'Intercom Facility', 'Lift(s)', 'High Ceiling Height', 'Maintenance Staff', 'No open drainage around', 'Recently Renovated', 'Piped-gas', 'Swimming Pool', 'Park', 'Security Personnel', 'Natural Light', 'Internet/wi-fi connectivity', 'Airy Rooms', 'Low Density Society', 'Shopping Centre', 'Fitness Centre / GYM', 'Waste Disposal', 'Rain Water Harvesting', 'Club house / Community Center', 'Water softening plant']
416   NaN                                                                                                                                                                                                                                                                   ['High Ceiling Height', 'Maintenance Staff', 'Water Storage', 'Visitor Parking', 'Waste Disposal', 'Rain Water Harvesting']
1763  ['1 Geyser', 'No AC', 'No Bed', 'No Chimney', 'No Curtains', 'No Dining Table', 'No Exhaust Fan', 'No Fan', 'No Modular Kitchen', 'No Light', 'No Microwave', 'No Fridge', 'No Sofa', 'No Stove', 'No TV', 'No Wardrobe', 'No Washing Machine', 'No Water Purifier']  ['Security / Fire Alarm', 'Intercom Facility', 'Lift(s)', 'Maintenance Staff', 'Separate entry for servant room', 'No open drainage around', 'Piped-gas', 'Visitor Parking', 'Swimming Pool', 'Park', 'Security Personnel', 'Natural Light', 'Airy Rooms', 'Shopping Centre', 'Fitness Centre / GYM', 'Waste Disposal', 'Club house / Community Center']
2678  ['1 Water Purifier', '8 Fan', '1 Fridge', '1 Exhaust Fan', '1 Dining Table', '5 Geyser', '1 Stove', '14 Light', '5 AC', '3 TV', '1 Modular Kitchen', '1 Chimney', '1 Curtains', '3 Bed', '3 Wardrobe', '1 Sofa', '1 Washing Machine', '1 Microwave']                  ['Water purifier', 'Security / Fire Alarm', 'Power Back-up', 'Feng Shui / Vaastu Compliant', 'Private Garden / Terrace', 'Intercom Facility', 'Lift(s)', 'High Ceiling Height', 'Maintenance Staff', 'Water Storage', 'Separate entry for servant room', 'No open drainage around', 'Bank Attached Property', 'Piped-gas', 'Internet/wi-fi connectivity', 'Recently Renovated', 'Visitor Parking', 'Swimming Pool', 'Park', 'Security Personnel', 'Natural Light', 'Airy Rooms', 'Spacious Interiors', 'Low Density Society', 'Waste Disposal', 'Rain Water Harvesting', 'Water softening plant', 'Shopping Centre', 'Fitness Centre / GYM', 'Club house / Community Center']
3407  ['3 Wardrobe', '3 AC', '1 Modular Kitchen', '1 Chimney', 'No Bed', 'No Curtains', 'No Dining Table', 'No Exhaust Fan', 'No Fan', 'No Geyser', 'No Light', 'No Microwave', 'No Fridge', 'No Sofa', 'No Stove', 'No TV', 'No Washing Machine', 'No Water Purifier']     ['Security / Fire Alarm', 'Feng Shui / Vaastu Compliant', 'Intercom Facility', 'Lift(s)', 'High Ceiling Height', 'Maintenance Staff', 'False Ceiling Lighting', 'Water Storage', 'Separate entry for servant room', 'No open drainage around', 'Visitor Parking', 'Swimming Pool', 'Park', 'Internet/wi-fi connectivity', 'Shopping Centre', 'Fitness Centre / GYM', 'Waste Disposal', 'Rain Water Harvesting', 'Club house / Community Center', 'Water softening plant']

In [56]:
# Extract all unique furnishings from the furnishDetails column
all_furnishings = []
for detail in df['furnishDetails'].dropna():
    furnishings = detail.replace('[', '').replace(']', '').replace("'", "").split(', ')
    all_furnishings.extend(furnishings)
unique_furnishings = list(set(all_furnishings))

# Define a function to extract the count of a furnishing from the furnishDetails
def get_furnishing_count(details, furnishing):
    if isinstance(details, str):
        if f"No {furnishing}" in details:
            return 0
        pattern = re.compile(f"(\d+) {furnishing}")
        match = pattern.search(details)
        if match:
            return int(match.group(1))
        elif furnishing in details:
            return 1
    return 0

# Simplify the furnishings list by removing "No" prefix and numbers
columns_to_include = [re.sub(r'No |\d+', '', furnishing).strip() for furnishing in unique_furnishings]
columns_to_include = list(set(columns_to_include))  # Get unique furnishings
columns_to_include = [furnishing for furnishing in columns_to_include if furnishing]  # Remove empty strings

# Create new columns for each unique furnishing and populate with counts
for furnishing in columns_to_include:
    df[furnishing] = df['furnishDetails'].apply(lambda x: get_furnishing_count(x, furnishing))

# Create the new dataframe with the required columns
furnishings_df = df[['furnishDetails'] + columns_to_include]

In [57]:
furnishings_df.shape

(3803, 19)

In [59]:
furnishings_df.drop(columns=['furnishDetails'],inplace=True)

C:\Users\ASUS\AppData\Local\Temp\ipykernel_17492\114705885.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  furnishings_df.drop(columns=['furnishDetails'],inplace=True)

In [60]:
furnishings_df.sample(5)

      Fridge  Modular Kitchen  Exhaust Fan  Sofa  Geyser  Stove  ...  Bed  Water Purifier  Curtains  Fan  Light  Microwave
3704  0       1                0            0     3       0      ...  0    0               2         7    11     0
765   0       1                1            0     2       0      ...  0    0               0         6    11     0
3176  0       0                0            0     0       0      ...  0    0               0         0    0      0
1570  0       0                0            0     0       0      ...  0    0               0         0    0      0
1868  0       1                0            0     3       0      ...  0    1               1         4    15     0

[5 rows x 18 columns]

In [61]:
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler

In [62]:
scaler = StandardScaler()
scaled_data = scaler.fit_transform(furnishings_df)

In [63]:
wcss_reduced = []

for i in range(1, 11):
    kmeans = KMeans(n_clusters=i, init='k-means++', random_state=42)
    kmeans.fit(scaled_data)
    wcss_reduced.append(kmeans.inertia_)

C:\Users\ASUS\anaconda3\Lib\site-packages\sklearn\cluster\_kmeans.py:1412: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)

AttributeError: 'NoneType' object has no attribute 'split'

In [68]:
furnishings_df[furnishings_df.columns.values == None]

ValueError: Item wrong length 18 instead of 3803.